* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
}

h1 {
  font-family:Cursive, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-color: #0066cc;
  outline: none;
}

button {
  background: #0066cc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #005bb5;
}

pre {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
}
